<p id="notice"><%= notice %></p>

<h1>Students</h1>
<%= cl_image_tag("fj7k93jsw3zftz2aqox3",
      width: 400, height: 300, crop: :fill) %>
<%= cl_image_tag("wuwjuiwwsgteukuvyhe6",
      width: 150, height: 150, crop: :thumb, gravity: :face) %>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><%= student.title %></td>
        <td><%= student.body %></td>
        <td><%= link_to 'Show', student %></td>
        <td><%= link_to 'Edit', edit_student_path(student) %></td>
        <td><%= link_to 'Destroy', student, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Student', new_student_path %>
