<p id="notice"><%= notice %></p>

<% @student.photos.each do |photo| %>
  <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
<% end %>


<% if @student.photo.attached? %>
  <%= cl_image_tag @student.photo.key, height: 300, width: 400, crop: :fill %>
<% else %>
  <%= cl_image_tag "KEY_TO_DEFAULT_IMAGE_IN_CLOUDINARY", height: 300, width: 400, crop: :fill %>
<% end %>



<p>
  <strong>Title:</strong>
  <%= @student.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @student.body %>
</p>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', root_path %>
