<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @student.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @student.body %>
</p>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', root_path %>
